---
const title = `STOP SEVERE UNDERARM <span class="text-primary">SWEATING</span>`;
const subtitle = `Schedule Now!`;
---

<section id="footer-cta-1" class="d-none d-md-block">
  <div class="container">
    <div class="card border-none cta m-0">
      <div class="card-body text-center text-light">
        <h3 class="card-title">
          { title }
        </h3>
        <div class="card-text">
          <p>
            <small class="cta-subtitle"
              >{ subtitle }</small
            >
          </p>
          <form>
            <div class="row">
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="full-name"
                  id="full-name"
                  required
                  autocomplete="name"
                  placeholder="Full Name*"
                />
              </div>
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="tel"
                  name="phone-number"
                  id="phone-number"
                  required
                  autocomplete="tel"
                  placeholder="Phone Number*"
                />
              </div>
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="email"
                  name="email"
                  id="email"
                  required
                  autocomplete="email"
                  placeholder="Email Address*"
                />
              </div>
            </div>
            <p class="cta-bottom-message"></p>
            <input
              type="submit"
              value="SCHEDULE NOW"
              class="btn btn-primary"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="footer-cta-2" class="d-md-none">
  <div class="container">
    <div class="card border-none cta">
      <div class="card-body text-center text-light">
        <h3 class="card-title">
          { title }
        </h3>
        <div class="card-text">
          <p>
            <small class="cta-subtitle"
              >{ subtitle }</small
            >
          </p>
          <form>
            <div class="row">
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="text"
                  name="full-name"
                  id="full-name"
                  required
                  autocomplete="name"
                  placeholder="Full Name*"
                />
              </div>
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="tel"
                  name="phone-number"
                  id="phone-number"
                  required
                  autocomplete="tel"
                  placeholder="Phone Number*"
                />
              </div>
              <div class="col-12 col-lg-4">
                <input
                  class="form-control mb-3"
                  type="email"
                  name="email"
                  id="email"
                  required
                  autocomplete="email"
                  placeholder="Email Address*"
                />
              </div>
            </div>
            <p class="cta-bottom-message"></p>
            <input
              type="submit"
              value="SCHEDULE NOW"
              class="btn btn-primary"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
</section>