<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="assets/img/logofinal-01.webp"
          alt="site-logo"
          height="90px"
          width="202px"
        />
      </a>
      <a href="tel:+8188503345" class="btn btn-primary">
        <i class="bi bi-telephone-fill d-md-none pe-1"></i> (818) 850-3345
      </a>
    </div>
  </nav>
</header>