---
import TestimonialSwiper from './TestimonialSwiper.vue';

---

<section id="what-our-clients-say">
  <div class="container">
    <div class="text-center">
      <h3>WHAT OUR CLIENTS SAY</h3>
      <h2>Excellent 5 Star Rating</h2>
    </div>
    <TestimonialSwiper client:visible />
  </div>
</section>