---
import BeforeAndAfterSwiper from './BeforeAfterSwiper.vue'
---

<section id="what-to-expect-2">
  <div class="container text-center p-0">
    <h3>WHAT TO EXPECT</h3>
    <h2>BEFORE & AFTER</h2>
    <BeforeAndAfterSwiper client:visible />
  </div>
</section>